/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.wrapper{
    width: 800px;
    background-color: aquamarine;
    height: 100%;
    display: flex;
    flex-direction: column;

    
}

.buttons-container{
   display: flex;
   justify-content: space-between;
    
}

.search-bar{
    display: none;
} */

.tab.current-tab{
    background-color: rgba(219, 226, 239, 0.5);
    border-radius: 4px;
} 
.deactive{
    scale: 0;
    opacity: 0;
    display: none;
}

.form-container.active{
    scale: 1;
    opacity: 1;
    display: flex;
}